

body {
    padding-top: 30px;
    padding-bottom: 20px;
    background: url(old-gear.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 63px;
}

@media all and (max-width: 520px) {
    h1 {
        font-size: 30px;
    }
}

.iframe-container {
  position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
  position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

#social-media {
  text-decoration: none;
  margin-top: 30px;
}

#social-media li {
  display: inline-block;
}

.quote {
  width: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 15px;
}

.quote-container {
  position: relative;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 20px;
  width: 275px;
}

.features {
  float: right;
  text-decoration: none;
  margin-left:50px;
}

h2 {
  color: white;
}

ul {
  font-size: 16pt;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 100px;
  margin: auto;
  clear: both;
  color: white;

}
